# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
app/build

# Ignore IDE project-specific cache directory
.idea
.metadata
.project
app/.project
.settings
app/.settings
.classpath 
app/.classpath
app/bin

# Ignore Config
config.txt
Log.log
